<header>
  <nav>
    <a href="/"><img src="/static/image/icon.png"></a>
    <h1><a href="/">DataNerd</a></h1>
  </nav>
  <nav>
    <a href="/videos">Videos</a>
    <a href="/channels">Channel</a>
  </nav>
</header>